/* Styling voor de terug knop */
.back {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 100px; /* Optioneel: ruimte rondom de afbeelding */
}

@media (max-width: 768px) {
    .back {
        height: 25px;
        width: 25px;
        margin: 68px;
        margin-left: 30px;
    }
}

/* Styling voor de klantenlijst */
.klanten-lijst {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Zorgt voor scrollen als de inhoud groter is */
    max-height: 80vh; /* Maximale hoogte van de lijst */
    
}

.klanten-lijst h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.klanten-lijst ul {
    list-style-type: none;
    padding: 0;
}

.klanten-lijst li {
    padding: 10px 0;
}

.klanten-lijst hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}
